@model Categoria
@{
    ViewData["Title"] = "Creación de Categorias";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="nombre" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <input asp-for="descripcion" class="form-control">
    </div>
    <div class="row">
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index","Categoria")'">Cancelar</button>
        </div>
    </div>
</form>
