@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f8f9fa;
    }

    .text-center {
        margin-top: 50px;
        color: black; /* Color del texto más oscuro */
    }

    h1 {
        font-size: 3em; /* Texto más grande */
        font-weight: bold;
        color: black; /* Color del encabezado más oscuro */
    }

    p {
        font-size: 1.4em; /* Texto más grande */
        color: #bla; /* Color del texto del párrafo más oscuro */
    }

    img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        border-radius: 10px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">~ Página de administración Tienda KC ~</h1>
    <p>Bienvenido a la página de administración</p>
    <img src="https://media.vogue.es/photos/61711ef57cc4bfc67ae09b22/3:2/w_1591,h_1061,c_limit/100_story.jpg" width="510" height="350" />
</div>