@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a a nuestra tienda virtual</h1>
    <p>Somos una tienda de ropa donde encontrarás todo tipo de prendas para tu gusto</p>
    <img src="https://media.vogue.es/photos/61711ef57cc4bfc67ae09b22/3:2/w_1591,h_1061,c_limit/100_story.jpg" width="510" height="350"/>

</div>
