@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a a nuestra tienda virtual</h1>
    <p>Somos una tienda de ropa donde encontrarás todo tipo de prendas para tu gusto</p>
</div>
