@model Usuario
@{
    ViewData["Title"] = "Detalles Usuario";
}

<h1>@ViewData["Title"]</h1>

<form>
    <div class="mb-3">
        <label class="form-label">usuario</label>
        <input asp-for="usuario" class="form-control " readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">contraseña</label>
        <input asp-for="contrasena" class="form-control" readonly>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index","Usuario")'">Volver</button>
        </div>
    </div>
</form>