@model List<Prenda>
@{
    ViewData["Title"] = "Lista Prendas";
}
<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create","Prenda")'">Nuevo Accesorio</button>



<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Marca</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>

    <tbody>
        
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil-square"></i>
                    <button type="button" class="btn btn-success"> <i class="bi bi-eye"></i>
                    <button type="button" class="btn btn-danger"> <i class="bi bi-trash-fill"></i>
                </td>
            </tr>
        
    </tbody>
</table>
